name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


permissions:
  contents: read
  id-token: write # Required for Workload Identity Federation

jobs:
  deploy:
    name: Build and Deploy API
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}   
      
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Debug: Print authenticated user and project'
        run: |-
          gcloud auth list
          gcloud config list project

      - name: Build and Push Docker image
        run: |-
          gcloud builds submit \
          --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/gcp-sim-search-api:latest 

      - name: Deploy to Cloud Run
        run: |-
          gcloud run deploy gcp-sim-search-api \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/gcp-sim-search-api:latest \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated \
            --service-account=${{ secrets.GCP_SERVICE_ACCOUNT}} \
            --set-env-vars "GCP_PROJECT=${{ secrets.GCP_PROJECT_ID }},GCP_BQ_DATASET=${{ secrets.GCP_BQ_DATASET }},GCP_BUCKET=${{ secrets.GCP_BUCKET }}"
