name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write # Required for authenticating to GCP

jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install GDAL system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends gdal-bin libgdal-dev

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Run unit tests with pytest
        run: pytest tests/test_prep.py tests/test_search.py

  integration-tests:
    name: Run Integration Tests
    needs: unit-tests # This job only runs if unit-tests succeed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_WIF_SERVICE_ACCOUNT }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install GDAL system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends gdal-bin libgdal-dev

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Run integration tests
        run: pytest tests/test_integration.py
